#button-quick-access
{
    -fx-background-color: transparent;
}

#button-quick-access:hover
{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.59), 10, 0.5, 0.0, 0.0);
}

.button
{
    -fx-background-color: linear-gradient(from 1% 1% to 25% 40%, #40515D, #15191C);
    -fx-text-fill: white;
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

.button:hover
{
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

.button:pressed
{
    -fx-background-color: linear-gradient(from 80% 80% to 100% 100%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

#button-customize-view
{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#button-tooltip {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#comment-custom-component
{
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #CDCDCD;
}
#container-project-info
{
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
}

#container-project-teams
{
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
}

#container-vbox
{
    -fx-background-color: #EAEAEA;
    -fx-background-radius: 5;
}

#container-background
{
    -fx-background-color: EAEAEA;
}

#container-element
{
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #CDCDCD;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

