#button-customize-view
{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

#button-tracker
{
    -fx-background-color: linear-gradient(from 1% 1% to 25% 40%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

#button-tracker:hover
{
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

#button-tracker:pressed
{
    -fx-background-color: linear-gradient(from 80% 80% to 100% 100%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

#container-background
{
    -fx-background-color: EAEAEA;
}

#container-element
{
    -fx-background-color: #F9F9F9;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #CDCDCD;
}

#button-quick-access
{
   -fx-background-color: transparent;
}

#button-quick-access:hover
{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.59), 10, 0.5, 0.0, 0.0);
}

.list-view {
    -fx-background-color: transparent;
}
