#button-leftnav
{
    -fx-font-size: 18px;
    -fx-background-radius: 0px;
    -fx-background-color : #15191C;

}
#button-leftnav:hover
{
    -fx-background-color : #40515D;
}
#button-leftnav:pressed
{
    -fx-background-color : #FFFFFF;
}

#button-topnav
{
    -fx-background-radius: 0px;
    -fx-background-color : #FFFFFF;

}
#button-topnav:hover
{
    -fx-background-color : #E3E3E3;
}
#button-topnav:pressed
{
    -fx-background-color : #40515D;
}

#button-topnav-right
{
    -fx-background-color : #FFFFFF;
    -fx-background-radius: 0px;
}

#button-topnav-right > .arrow-button > .arrow
{
    -fx-background-radius: 0px;
    -fx-background-color : transparent;
}
#button-topnav-right:hover
{
    -fx-background-color : #E3E3E3;
}
#button-topnav-right:pressed
{
    -fx-background-color : #40515D;
}

.button
{
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}
.button:hover
{
    -fx-background-color : #E3E3E3;
}
.button:pressed
{
    -fx-font-weight: bold;
}

#hbox-breadcrumb
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: #CDCDCD transparent transparent transparent;
}

#hbox-topnav
{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CDCDCD transparent transparent transparent;
}

#hbox-quicknav
{
    -fx-background-color: #FFFFFF;
    -fx-border-color: #CDCDCD transparent transparent transparent;
}

#main-view-pane
{
    -fx-background-color: F6F6F6;
}