#button-contact-admin
{
    -fx-background-color: transparent;
}

#button-cannot-remember
{
    -fx-background-color: transparent;
}

#button-reset-password
{
    -fx-background-color: linear-gradient(from 15% 15% to 60% 60%, #40515D, #15191C);
    -fx-background-radius: 50px;

    -fx-border-radius: 50px;
    -fx-border-width: 5px;
}

#button-reset-password:hover
{
    -fx-background-color: #40515D;
}

#button-reset-password:pressed
{
    -fx-background-color: #15191C;
}

#button-back-to-login
{
    -fx-background-color: transparent;
}

#button-back-to-login-text
{
    -fx-background-color: transparent;
}