.button
{
    -fx-background-color: linear-gradient(from 1% 1% to 25% 40%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

.button:hover
{
    -fx-background-color: linear-gradient(from 15% 15% to 100% 100%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

.button:pressed
{
    -fx-background-color: linear-gradient(from 80% 80% to 100% 100%, #40515D, #15191C);
    -fx-background-radius: 2px;
    -fx-border-radius: 2px;
    -fx-border-width: 5px;
}

#container-description
{
    -fx-background-color: EAEAEA;
    -fx-background-radius: 5;
}

#container-implementation-info
{
    -fx-background-color: EAEAEA;
    -fx-background-radius: 5;
}

#container-personnel
{
    -fx-background-color: EAEAEA;
    -fx-background-radius: 5;
}

#container-sprints
{
    -fx-background-color: EAEAEA;
    -fx-background-radius: 5;
}

#container-sprint-info
{
    -fx-background-color: EAEAEA;
    -fx-background-radius: 5;
}

#button-all-view
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent #CDCDCD #CDCDCD #CDCDCD;
    -fx-background-radius: 0 0 0 8;
    -fx-border-radius: 0 0 0 8;
    -fx-border-width: 1.2px;
}

#button-in-progress-view
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent #CDCDCD #CDCDCD #CDCDCD;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1.2px;
}

#button-in-progress-view:hover
{
    -fx-background-color: #B9B9B9;
}

#button-in-progress-view:pressed
{

}

#button-current-sprint-view
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent #CDCDCD #CDCDCD #CDCDCD;
    -fx-background-radius: 0 0 0 0;
    -fx-border-radius: 0 0 0 0;
    -fx-border-width: 1.2px;
}

#button-current-sprint-view:hover
{
    -fx-background-color: #B9B9B9;
}

#button-current-sprint-view:pressed
{

}

#button-completed-view
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent transparent #CDCDCD #CDCDCD;
    -fx-background-radius: 0 2 0 0;
    -fx-border-radius: 0 2 0 0;
    -fx-border-width: 1.2px;
}

#button-completed-view:hover
{
    -fx-background-color: #B9B9B9;
}

#button-completed-view:pressed
{

}

#container-element
{
    -fx-background-color: F9F9F9;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-color: #CDCDCD;
}

#button-all-view
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent #CDCDCD #CDCDCD #CDCDCD;
    -fx-background-radius: 0 0 0 8;
    -fx-border-radius: 0 0 0 8;
    -fx-border-width: 1.2px;
}

#button-add
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent #CDCDCD #CDCDCD #CDCDCD;
    -fx-background-radius: 8 0 0 8;
    -fx-border-radius: 8 0 0 8;
    -fx-border-width: 1.2px;
}

#button-add:hover
{
    -fx-background-color: #B9B9B9;
}

#button-add:pressed
{

}

#button-remove
{
    -fx-background-color: #E3E3E3;
    -fx-border-color: transparent #CDCDCD #CDCDCD #CDCDCD;
    -fx-background-radius: 0 8 8 0;
    -fx-border-radius: 0 8 8 0;
    -fx-border-width: 1.2px;
}

#button-remove:hover
{
    -fx-background-color: #B9B9B9;
}

#button-remove:pressed
{

}
